<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.CommentMapper">
    <insert id="saveAndUpdate" parameterType="com.example.entity.Comment">
        insert into comment(
        content,
        parent_id,
        post_id,
        user_id,
        vote_up,
        vote_down,
        level,
        created,
        modified
        ) values (
        #{content},
        #{parentId},
        #{postId},
        #{userId},
        #{voteUp},
        #{voteDown},
        #{level},
        #{created},
        #{modified}
        )
    </insert>
    <select id="selectComments" resultType="com.example.vo.CommentVo">
        select
         c.*,
         u.id as authorId,
         u.username as authorName,
         u.avatar as authorAvatar,
         u.vip_level as authorVip,
         p.title as title
        from comment c
        left join user u on c.user_id = u.id
        left join post p on p.id = c.post_id
        ${ew.customSqlSegment}
    </select>
</mapper>
