<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.UserMessageMapper">
    <select id="selectMessages" resultType="com.example.vo.MessageVo">
        SELECT m.*,
        ( SELECT username FROM `user` WHERE id = m.to_user_id ) AS toUserName,
        ( SELECT username FROM `user` WHERE id = m.from_user_id ) AS fromUserName,
        ( SELECT title FROM `post` WHERE id = m.post_id ) AS postTitle,
        ( SELECT content FROM `comment` WHERE id = m.comment_id ) AS commentContent
        FROM `user_message` m

        ${ew.customSqlSegment}

    </select>
</mapper>
